# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# THIS IS AN ANSIBLE-MANAGED FILE. ALL CHANGES WILL BE OVERRIDDEN IF CONFIG
# MANAGER IS RUN. MAKE SURE YOU REFLECT CHANGES IN THE ANSIBLE SCRIPTS IF
# THEY SHOULD BE MADE PERMANENT.
# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
SIDEKIQ_CONCURRENCY=5
RAILS_HOST={{ [hostname, domain] | join('.') }}
PROJECT_NAME={{ project_name }}
DATABASE_NAME={{ project_name }}
DATABASE_USERNAME={{ db_user }}
DATABASE_PASSWORD={{ db_pass }}
CONTACT_US_EMAIL=frodo@example.com
FEDORA_URL=http://127.0.0.1:8080/fedora/rest
FEDORA_PASSWORD=fedoraAdmin
SOLR_URL=http://127.0.0.1:8983/solr/{{ project_name }}
HONEYBADGER_API_KEY={{ honeybadger_api_key }}
BOX_OAUTH_CLIENT_ID=tbvt3cossisb3pz8gd4jvq59z8o2cwe5
BOX_OAUTH_CLIENT_SECRET=anhiqP6EmeieJ5AgcdFGI7Wv6B0tQ13a
BOX_EXPIRY_TIME_IN_MINTUTES=1
FITS_PATH=/usr/local/bin/fits
LIBREOFFICE_PATH=/usr/bin/soffice
UPLOAD_PATH=/opt/uploads
CACHE_PATH=/opt/uploads/cache
DERIVATIVES_PATH=/opt/derivatives
WORKING_PATH=/opt/uploads
FFMPEG_PATH=/usr/local/bin/ffmpeg
export PROQUEST_SFTP_HOST=ftp.proquest.com
export PROQUEST_SFTP_USER=EmoryU
export PROQUEST_SFTP_PASSWORD=Emory0665
export REGISTRAR_DATA_PATH=/opt/laevigata/shared/config/emory/registrar_data.json
