#############################################################################
# NRPE Config File
#############################################################################

log_facility=daemon
pid_file=/var/run/nrpe.pid
server_port=5666
nrpe_user=nagios
nrpe_group=nagios
allowed_hosts=127.0.0.1
dont_blame_nrpe=0
allow_bash_command_substitution=0
debug=0
command_timeout=60
connection_timeout=300

# COMMAND DEFINITIONS
# commands for all servers
command[check_disk]=/usr/local/nagios/libexec/check_disk -w 20% -c 10% -p /
command[check_http]=/usr/local/nagios/libexec/check_http localhost
command[check_load]=/usr/local/nagios/libexec/check_load -w 15,10,5 -c 30,25,20
command[check_ping]=/usr/local/nagios/libexec/check_ping -H 127.0.0.1 -w 1,3% -c 10,5%
command[check_ssh]=/usr/local/nagios/libexec/check_ssh localhost
command[check_total_procs]=/usr/local/nagios/libexec/check_procs -w 180 -c 200
command[check_users]=/usr/local/nagios/libexec/check_users -w 5 -c 10
command[check_zombie_procs]=/usr/local/nagios/libexec/check_procs -w 5 -c 10 -s Z

# checks for additional disks
command[check_opt]=/usr/local/nagios/libexec/check_disk -w 20% -c 10% -p /opt

# commands for samvera components
command[check_fedora]=/usr/local/nagios/libexec/check_http -H 127.0.0.1 -p 8080 -u /fedora/rest -s Resource
command[check_solr]=/usr/local/nagios/libexec/check_http -H 127.0.0.1 -p 8983 -u /solr/ -s Dashboard

command[check_ssl_cert]=/usr/local/nagios/libexec/check_http -H {{ hostname }}.{{ domain }} -C 60,30

# Check whether sidekiq is running
command[check_sidekiq]=/usr/local/nagios/libexec/check_sidekiq
# Restart sidekiq if it isn't running
command[restart_sidekiq]=/usr/local/nagios/libexec/event_handlers/restart_sidekiq
command[restart_tomcat7]=/usr/local/nagios/libexec/event_handlers/restart_tomcat7
command[restart_solr]=/usr/local/nagios/libexec/event_handlers/restart_solr

# basic check for SP metadata
command[check_shib_SP]=/usr/local/nagios/libexec/check_http -H 127.0.0.1 -S -p 443 -u /Shibboleth.sso/Metadata
# check connection to Emory shibboleth
command[check_emory_shib]=/usr/local/nagios/libexec/check_http -H login.emory.edu -S -p 443 -u /idp/shibboleth -s entityID
